<div fxLayout="row wrap" fxLayoutGap="15px" class="box-order-and-search">
  <mat-form-field fxFlex="20%">
    <mat-select (change)="onChange()" [(ngModel)]="order" placeholder="Select Order">
      <mat-option value="asc">Ascending</mat-option>
      <mat-option value="desc">Descending</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-select (change)="onChange()" [(ngModel)]="byType" placeholder="Select Type">
      <mat-option value="brand">Brand</mat-option>
      <mat-option value="price">Price</mat-option>
      <mat-option value="model">Model</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex="40%">
    <input matInput placeholder="Search" (input)="onSearch()" [(ngModel)]="search">
</mat-form-field>

</div>

<app-phone-list [phones]="filteredPhones"></app-phone-list>